@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.custom-truncate {
    max-width: 50ch; /* 50 caracteres */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}